body {
    margin: 0;
    padding: 0;
    font-size: 2em;
    touch-action: manipulation;
    font-family: 'Noto Serif TC', serif;
}

#nav-bar {
    background-color: red;
    position: absolute;
    width: 100%;
    top: 0;
    height: 3em;
    z-index: 100;
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.3);
    box-sizing: border-box;
    padding-left: 1em;
}

#nav-bar span {
    font-weight: bold;
    font-size: 1.5em;
    line-height: 2em;
}

#tab-bar {
    background-color: #efeeee;
    /*box-shadow: 0 0 15px 5px rgba(0,0,0,0.3);*/
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 3em;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 0.5em;
}

#tab-bar a {
    display: inline-block;
    height: 100%;
    width: 4em;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#tab-bar a:active {
    background-color: transparent;
}

#tab-profile {
    background-image: url(images/icon-profile.png);
}

#tab-profile.router-link-active {
    background-image: url(images/icon-profile-red.png);
}

#tab-catalog {
    background-image: url(images/icon-browse.png);
}

#tab-catalog.router-link-active {
    background-image: url(images/icon-browse-red.png);
}

#tab-recommandation {
    background-image: url(images/icon-for-you.png);
}

#tab-recommandation.router-link-active {
    background-image: url(images/icon-for-you-red.png);
}

#lvl1-outlet {
    /*background-color: purple;*/
    position: absolute;
    width: 100%;
    top: 3em;
    bottom: 3em;
    overflow: scroll;
    padding: 0.5em;
    box-sizing: border-box;
}

#catalog-container {
    list-style: none;
    margin: 0;
    padding: 0;
}

#catalog-container li {
    background-color: antiquewhite;
    margin-bottom: 0.5em;
    padding: 1em;
}

.item-title {
    font-weight: bold;
    font-size: 1.5em;
    word-break: break-all;
    font-family: 'Abril Fatface', cursive;
}

.item-abstract {

}

.item-tags{}

.item-tag {
    background-color: #ffc107;
    margin: 0.3em;
    display: inline-block;
    padding: 0.3em;
}

.rec-desc {
    background-color: #fffb8d;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.profile-tag {
    background-color: #ffc107;
    font-size: 0.8em;
    margin: 0.3em;
    display: inline-block;
    padding: 0.3em;
}
