body { margin: 0; padding: 0; font-size: 3em; }

#nav-bar {
    background-color: red;
    position: absolute;
    width: 100%;
    top: 0;
    height: 3em;
    z-index: 100;
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.5);
    box-sizing: border-box;
    padding-left: 1em;
}

#nav-bar span {
    font-family: 'Squada One', cursive;
    /*font-family: 'Fredoka One', cursive;*/
    font-size: 2em;
    line-height: 1.5em;
}

#tab-bar {
    background-color: #989898;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 3em;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 0.5em;
}

#tab-bar a {
    /*background-color: yellow;*/
    display: inline-block;
    height: 100%;
    width: 4em;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#tab-profile {
    background-image: url(images/icon-profile.png);
}

#tab-catalog {
    background-image: url(images/icon-browse.png);
}

#tab-recommandation {
    background-image: url(images/icon-for-you.png);
}

#lvl1-outlet {
    /*background-color: purple;*/
    position: absolute;
    width: 100%;
    top: 3em;
    bottom: 3em;
    overflow: scroll;
}

#catalog-container {
    list-style: none;
    margin: 0;
    padding: 0.5em;
}

#catalog-container li {
    background-color: antiquewhite;
    margin-bottom: 0.5em;
    padding: 1em;
}

.item-title {
    font-weight: bold;
    font-size: 1.5em;
    word-break: break-all;
    font-family: 'Abril Fatface', cursive;
}

.item-abstract {

}